@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ==== Common Styles ==== */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1220px;
  /* padding: 30px; */
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  background-color: #ff900e;
  padding: 20px 30px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  color: #ff900e;
  background-color: #ffffff;
  border: 1px solid #ff900e;
}

/* ====== header Styles Starts ====== */
.header-section {
  background-color: #fff4e7;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 40px;
  font-weight: 700;
}

.menu-links {
  display: flex;
  gap: 30px;
}

.menu-links li {
  list-style: none;
}

.menu-links li a {
  color: #3e3e3e;
  font-size: 18px;
  transition: 0.5s;
}

.menu-links li a:hover {
  color: #ff900e;
}

/* ====== header Styles Ends ====== */

/* ====== Banner Styles Starts ====== */
.banner-section {
  background-color: #fff4e7;
  padding-bottom: 30px;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 300px;
}

.banner-content h1 {
  font-size: 60px;
}

.banner-content p {
  color: #696969;
  margin: 15px 0;
}

.banner-image img {
  width: 100%;
}

/* ====== Banner Styles Ends ====== */

/* ====== Feature Styles Starts ====== */

.feature-section {
  margin: 80px 0;
}

.feature-content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.feature-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.feature-texts h2 {
  font-size: 40px;
}

.feature-texts p {
  color: #696969;
  margin: 15px 0;
  margin: 15px 0;
}
/* ====== Feature Styles Ends ====== */

/* ====== Experience Styles Starts ====== */

.experience-content {
  display: flex;
  gap: 40px;
}

.experience-content-text .experience-title {
  font-size: 40px;
  position: relative;
  padding-left: 20px;
}

.experience-content-text .experience-title::before {
  content: "";
  display: block;
  width: 5px;
  height: 105px;
  background-color: #ff900e;
  position: absolute;
  top: 10px;
  left: 0;
}

.experience-content-text .title-info {
  color: #696969;
  margin: 20px 0;
}

.content-text {
  padding: 25px;
  margin-bottom: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.content-text p {
  color: #696969;
  padding-top: 10px;
}

.experience-content-image img {
  border-radius: 10px;
  width: 600px;
  height: 90%;
}

.experience-content-image {
  position: relative;
  padding-left: 30px;
}

.experience-content-image .experience-btn {
  background-color: #ff900e;
  padding: 46px 40px;
  border: none;
  border-radius: 8px;
  font-size: 25px;
  color: #fff;
  position: absolute;
  bottom: 15px;
  left: 0;
}

.experience-content-image .experience-btn .btn-text {
  font-size: 50px;
  color: #fff;
  font-weight: 700;
}

/* ====== Experience Styles Ends ====== */

/* ====== Facts Styles Start ====== */
.facts-section {
  margin-top: 50px;
}

.facts-title {
  font-size: 40px;
}

.facts-info {
  color: #696969;
  width: 550px;
  margin-top: 10px;
}

.icon-boxes {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 80px;
  margin-top: 50px;
}

.icon-boxes .icon-box {
  border: 1px solid #ff900e;
  padding: 30px 40px;
  width: 220px;
  cursor: pointer;
  transition: 0.5s;
}

.icon-boxes .icon-box:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.icon-boxes .icon-box h2 {
  color: #3d3d3d;
  padding: 5px 0;
  font-size: 30px;
}

.icon-boxes .icon-box p {
  color: #696969;
}
/* ====== Facts Styles Ends ====== */

/* ====== Extra Section Styles Start ====== */
.extra-section {
  margin: 30px 0;
}

.extra-section-title {
  text-align: center;
  margin-bottom: 30px;
}

.extra-section-title h3 {
  font-size: 25px;
  font-weight: normal;
}

.extra-section-title h1 {
  font-size: 35px;
}

.extra-section-contents {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.extra-section-contents .extra-section-content {
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.extra-section-contents .extra-section-content img {
  width: 100%;
}

.extra-section-contents .extra-section-content i {
  color: #696969;
  padding: 0 10px;
}

.extra-section-contents .extra-section-content h3 {
  margin: 10px 0;
}

.extra-section-contents .extra-section-content p {
  color: #696969;
  margin-bottom: 15px;
}

.extra-section-contents .extra-section-content a {
  color: #ff900e;
}

/* ====== Extra Section Styles Ends ====== */

/* ====== Sponsors Styles Starts ====== */
.sponsors-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.sponsors-content {
  text-align: center;
}

.sponsors-content .sponsors-title {
  font-size: 40px;
}

.sponsors-content .sponsors-text {
  padding: 0 300px;
}

.sponsors-content .sponsors-text p {
  color: #696969;
  margin: 15px 0;
}

.sponsors-content .sponsors-icons {
  display: flex;
  gap: 85px;
}

.sponsors-content .sponsors-icons img {
  margin-top: 30px;
  color: #696969;
  padding-left: 10px;
}

/* ====== Sponsors Styles Ends ====== */

/* ====== Footer Styles Starts ====== */
.footer-content {
  text-align: center;
  background-color: #fff4e7;
  padding: 30px;
}

.footer-content p {
  color: #696969;
}
/* ====== Footer Styles Ends ====== */

/* ----------------- Media Queries --------------- */
@media only screen and (max-width: 575px) {
  .container {
    width: 100%;
  }

  /* header */

  .menu-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-bar {
    flex-direction: column;
  }

  .logo {
    font-size: 40px;
  }

  .menu-bar {
    margin: 20px 0;
  }
  .menu-links {
    gap: 15px;
  }

  /* banner */
  .banner-section {
    padding-bottom: 15px;
  }
  .banner-content {
    justify-content: center;
    padding: 0 20px;
  }

  .banner-content h1 {
    font-size: 30px;
  }

  .banner-image img {
    padding: 0 20px;
    padding-top: 20px;
  }

  /* feature  */

  .feature-content {
    flex-direction: column;
  }

  .feature-images {
    grid-template-columns: repeat(1, 1fr);
  }

  .feature-texts {
    padding: 0 15px;
    text-align: center;
  }
  .feature-texts h2 {
    font-size: 40px;
  }

  /* Experience section */
  .experience-content {
    flex-direction: column;
    padding: 0 10px;
  }

  /* .experience-content-text .experience-title {
    font-size: 30px;
  } */

  .experience-content-image {
    padding: 0 10px;
  }
  .experience-content-image img {
    width: 100%;
  }
  .experience-content-image .experience-btn {
    bottom: -40px;
    left: 25%;
  }

  .experience-content-image .experience-btn {
    font-size: 16px;
    padding: 25px 30px;
  }

  .experience-content-image .experience-btn .btn-text {
    font-size: 30px;
  }

  /* Facts Section */
  .facts-content {
    text-align: center;
    padding: 0 10px;
    margin-top: 20px;
  }
  .facts-content .facts-title {
    font-size: 30px;
  }
  .facts-content .facts-info {
    width: 100%;
  }
  .icon-boxes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  /* Sponsors Section */
  .sponsors-content .sponsors-text {
    padding: 0 10px;
  }
  .sponsors-content .sponsors-title {
    font-size: 30px;
  }
  .sponsors-content .sponsors-icons {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .sponsors-content .sponsors-icons img {
    width: 130px;
  }
  /* -- Extra Section -- */
  .extra-section-contents {
    flex-direction: column;
  }

  .extra-section-content {
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .extra-section-title h1 {
    font-size: 35px;
  }
}
